<app-nav_bar></app-nav_bar>


<div class="container-fluid d-flex flex-column p-5" style="min-height: calc(100vh - 180px);">
  <div class="flex-grow-1 shadow p-5">
    <div class="mb-5">
      <h2 class="d-flex align-items-center justify-content-center mb-5" style="color: #3C3C3C;">Trenutno raspisani izbori</h2>
    </div>
    <div class="table-responsive">
      <table class="table" style="color: #3C3C3C;">
        <thead>
          <tr>
            <th>#</th>
            <th>Vrsta izbora</th>
            <th>Datum početka</th>
            <th>Datum završetka</th>
            <th>Grad</th>
            <th>Otvoreni</th>
            <th>Više informacija</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let election of elections; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ election.vrsta }}</td>
            <td>{{ election.datumPocetka }}</td>
            <td>{{ election.datumZavrsetka }}</td>
            <td>{{ election.grad }}</td>
            <td>{{ election.otvoreni }}</td>
            <td><a (click)="getElectionDetails(election.id!)" style="color: blue; cursor: pointer;"><u>Više</u></a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


<app-footer class="footer"></app-footer>
