<div style="overflow: hidden;">
  <app-nav_bar></app-nav_bar>

  <div class="image-container">
    <img src="../../assets/Images/pocetna1.png" alt="Slika">
    <div class="text-overlay">
      <h1>Zajedno gradimo budućnost!</h1>
      <p>Dobrodošli na stranicu IZBORI</p>
    </div>
  </div>

  <div class="text-center mt-5 mb-4" style="width: 100%; height: 200px;">
    <h2 style="color: #3C3C3C;">STRANKE</h2>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-2 m-3">
        <img src="../../assets/Images/zzs.png" alt="Stranka 1" class="w-100 mb-4">
      </div>
      <div class="col-md-2 m-3">
        <img src="../../assets/Images/SDP.png" alt="Stranka 2" class="w-100 mb-4">
      </div>
      <div class="col-md-2 m-3">
        <img src="../../assets/Images/ds.png" alt="Stranka 2" class="w-100 mb-4">
      </div>
      <div class="col-md-2 m-3">
        <img src="../../assets/Images/spd.png" alt="Stranka 2" class="w-100 mb-4">
      </div>
      <div class="col-md-2 m-3">
        <img src="../../assets/Images/zeleni.png" alt="Stranka 3" class="w-100 mb-4">
      </div>
    </div>
  </div>

  <div class="image-container">
    <img src="../../assets/Images/pocetna2.png" alt="Slika">
    <div class="text-overlay2">
      <div class="text-content">
          <h1>GLASAJTE ZA NAS</h1>
          <p>U srcu izbornog procesa leži moć samog pojedinca. Olovka postaje oruđe koje može menjati tok istorije.
            Sa svakim krugom boje koju ostavljamo na listiću, ispisujemo sudbinu naše zemlje. Glasanje je prilika da se glas čuje,
            mišljenje izrazi i promene pokrenu.</p><br>
          <button id="purple_button" class="btn btn-primary" (click)="Glasaj()">Glasaj</button>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
  </div>



